// 
// Buttons
// 

// Custom extra large button size
.btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
}

// Custom social buttons
.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}

// Override btn-dark styles
.btn-dark {
    background-color: #5864CB;
    border-color: #5864CB;
    color: #FFFDF3;
    font-family: $font-family-sans-serif;
    padding: 0.75rem 1.5rem;
    
    &:hover {
        background-color: darken(#5864CB, 10%);
        border-color: darken(#5864CB, 10%);
        color: #FFFDF3;
    }
    
    &:active,
    &:focus {
        background-color: darken(#5864CB, 15%);
        border-color: darken(#5864CB, 15%);
        color: #FFFDF3;
    }
}
