// 
// Navbar
// 

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    background-color: #FEF6E0 !important;

    .navbar-brand {
        color: $dark;
        font-weight: 600;

        &:hover {
            color: $dark;
        }
    }

    .navbar-nav {
        margin-top: 1rem;

        li.nav-item {
            a.nav-link {
                color: $dark;

                &:hover {
                    color: $dark;
                    opacity: 0.7;
                }

                &:active,
                &:focus {
                    color: $dark;
                }

                &.active {
                    color: $dark;
                    font-weight: 600;
                }
            }
        }
    }

    .navbar-toggler {
        font-size: 80%;
        padding: 0.8rem;
        border-color: $dark;
    }
}

@include media-breakpoint-up(lg) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        transition: padding-top 0.3s, padding-bottom 0.3s;

        .navbar-brand {
            font-size: 1.75em;
            transition: font-size 0.3s;
        }

        .navbar-nav {
            margin-top: 0;
        }

        .navbar-nav>li.nav-item>a.nav-link.active {
            color: $dark;
            background: transparent;
            font-weight: 600;

            &:active,
            &:focus,
            &:hover {
                color: $dark;
                background: transparent;
                opacity: 0.7;
            }
        }
    }

    #mainNav.navbar-shrink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        .navbar-brand {
            font-size: 1.5em;
        }
    }
}
