// 
// Masthead
// 

.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 3rem;

    .masthead-heading {
        font-size: 2rem;
        line-height: 2.25rem;
    }

    .masthead-subheading {
        font-size: 1.25rem;
    }

    .masthead-avatar {
        width: 15rem;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    ul {
        list-style-type: disc;
        padding-left: 1.5rem;
    }

    li {
        margin-bottom: 0.5rem;
    }
}

@include media-breakpoint-up(lg) {
    .masthead {
        padding-top: calc(6rem + 104px);
        padding-bottom: 3rem;

        .masthead-heading {
            font-size: 2.5rem;
            line-height: 2.75rem;
        }

        .masthead-subheading {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.75rem;
        }
    }
}
