//
// Masthead
//

.masthead {
    padding-top: calc(0rem + 50px);
    padding-bottom: 3rem;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(90deg, #5864CB, #E1E1E1) 1;
    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 3px;
        background: linear-gradient(90deg, #E1E1E1, #5864CB);
    }

    .masthead-heading {
        font-size: 2rem;
        line-height: 2.25rem;
        font-weight: 400;
    }

    .masthead-subheading {
        font-size: 1.25rem;
    }

    .masthead-avatar {
        width: 15rem;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 400;
    }

    ul {
        list-style-type: disc;
        padding-left: 1.5rem;
    }

    li {
        margin-bottom: 0.5rem;
    }
    
    .lead {
        font-size: 1em;
    }
}

@include media-breakpoint-up(lg) {
    .masthead {
        padding-top: calc(0rem + 80px);
        padding-bottom: 3rem;

        .masthead-heading {
            font-size: 2.7rem;
            line-height: 2.75rem;
            font-weight: 400;
        }

        .masthead-subheading {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.75rem;
            font-weight: 400;
        }
    }
}
