// 
// Portfolio
// 

.portfolio {
    .portfolio-item {
        cursor: pointer;
        position: relative;
        display: block;
        max-width: 25rem;
        border-radius: $border-radius;
        overflow: hidden;

        .portfolio-item-caption {
            position: absolute;
            top: 0;
            left: 0;
            transition: $transition-base;
            opacity: 0;
            background-color: fade-out($primary, .1);

            &:hover {
                opacity: 1;
            }

            .portfolio-item-caption-content {
                font-size: 1.5rem;
            }
        }
    }

    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        display: block;
    }

    .card-body {
        padding: 3rem 2rem;
    }

    .card {
        border: none;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        min-height: 300px;
        border-radius: 16px;
        overflow: hidden;
        background-color: #FFFDF3;
    }
}

// Styling for the portfolio modals
.portfolio-modal {
    .btn-close {
        color: $primary;
        font-size: 2rem;
        padding: 1rem;
    }

    .portfolio-modal-title {
        font-size: 2.25rem;
        line-height: 2rem;

        @include media-breakpoint-up(lg) {
            font-size: 3rem;
            line-height: 2.5rem;
        }
    }
}
